<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add flat form</title>
</head>

<body>
    <h1>Add flat</h1>
    <form method="POST" action="/admin/flat/add">
        <input type="text" name="title" placeholder="apartment title">
        <input type="text" name="picture1" placeholder="picture1">
        <input type="text" name="picture2" placeholder="picture2">
        <input type="text" name="picture3" placeholder="picture3">
        <input type="text" name="picture4" placeholder="picture4">
        <textarea name="description" placeholder="description"></textarea>
        <input type="text" name="city" placeholder="city">
        <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>City..</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select> -->
        <input type="text" name="price" placeholder="price">
        <input type="submit">
    </form>
</body>

</html>